@model System.Collections.Generic.IEnumerable<EmployeeVM>
@using Lib.ViewModels;
@{
    ViewBag.Title = "ViewAllAssessments";
}

<h2>Assessments</h2>
<script>
    $(document).ready(function () {
        $('#ActiveButton').click(function () {
            $('#Active').show();
            $('#In-Active').hide();
        });
        $('#In-ActiveButton').click(function () {
            $('#In-Active').show();
            $('#Active').hide();
        });
    });
</script>
<div>
    <button id="ActiveButton">Active</button>
    <button id="In-ActiveButton">In-Active</button>
    <div id="Active">
        <table>
            <tr>
                <th>Employee</th>
                <th></th>
            </tr>
            @foreach (EmployeeVM Value in Model)
            {
                if (Value.ActiveFlag)
                {
                    <tr>
                        <td>@Html.DisplayName(Value.EmployeeName.ToString())</td>
                        <td>@Html.ActionLink("View Assessment", "Assessment", routeValues: new { AssessmentID = Value.EmployeeID })</td>
                    </tr>
                }
            }
        </table>
    </div>
    <div id="In-Active" hidden>
        <table>
            <tr>
                <th>Employee</th>
                <th></th>
            </tr>
            @foreach (EmployeeVM Value in Model)
            {
                if (!Value.ActiveFlag)
                {
                    <tr>
                        <td>@Html.DisplayName(Value.EmployeeName.ToString())</td>
                        <td>@Html.ActionLink("View Assessment", "ViewAssessment", routeValues: new { AssessmentID = Value.EmployeeID })</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>