@{
    ViewBag.Title = "Contact Us!";
}
<h2>@ViewBag.Title</h2>
<address>
    902 N Missouri St.<br />
    Macon, MO 63552<br />
    Phone: 660.395.4242<br />
    Fax: 660.395.1028
</address>

<address>
    211 S Tillman St.<br />
    Glennville, GA 30427<br />
    Phone: 660.395.4242<br />
</address>

<address>
    902 North Missouri<br />
    Macon, MO 63552<br />
    Phone: 660.395.4242<br />
</address>

<address>
    6470 E Johns Crossing, Suite 230<br />
    Atlanta, GA 30097<br />
    Phone: 404.974.4700<br />
</address>

<address>
    <strong>Support:</strong>   <a href="https://ssd.onshoreoutsourcing.com/">Smart Service Desk</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@onshoreoutsourcing.com">marketing@onshoreoutsourcing.com</a><br />
    <strong>About Us:</strong>  <a href="http://www.onshoreoutsourcing.com/about-us/">Click Here</a>
</address>