
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<body>
    <div class="row">
        <div class="col-md-4">
            Image here
        </div>
        <div class="col-md-8">
            bar for buttons on lables to switch views of what you want to see
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            some information display here
        </div>
        <div class="col-md-8">
            <div class="col-md-8">
                <button id="MyBiobtn">My Biography</button>
                <button id="KPI-btn">My KPI</button>
                <button id="Assessment-btn">My Assessment</button>
                <button id="Team-btn">My Team</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            more information here?
        </div>
        <div class="col-md-8">
            <div id="MyBio">
                Biography
            </div>
            <div id="KPI" hidden>
                KPI
            </div>
            <div id="Assessment" hidden>
                Assessment
            </div>
            <div id="Team" hidden>
                Team
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        $('#KPI-btn').click(function () {
            $('#KPI').show();
            $('#Assessment').hide();
            $('#MyBio').hide();
            $('#Team').hide();
        });
    });
    $(document).ready(function () {
        $('#Assessment-btn').click(function () {
            $('#Assessment').show();
            $('#KPI').hide();
            $('#MyBio').hide();
            $('#Team').hide();
        });
    });
    $(document).ready(function () {
        $('#MyBiobtn').click(function () {
            $('#MyBio').show();
            $('#KPI').hide();
            $('#Assessment').hide();
            $('#Team').hide();
        });
    });
    $(document).ready(function () {
        $('#Team-btn').click(function () {
            $('#Team').show();
            $('#KPI').hide();
            $('#Assessment').hide();
            $('#MyBio').hide();
        });
    });
</script>