@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome To Onshore</h1>
    <p></p>
</div>

<div class="row jumbotron">
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a href="http://blog.onshoreoutsourcing.com/" class="btn btn-primary btn-lg">Our Blog &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a href="https://onshoreoutsourcing.sharepoint.com/clientservices/SitePages/Home.aspx" class="btn btn-primary btn-lg">Client Services &raquo;</a></p>
    </div>
</div>