@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron" style="text-align:center;">
    @if (Session.SessionID == null)
    {
        <h1>Welcome To Onshore</h1>
    }
    else
    {
        <h1>Welcome To Onshore @Html.Display(Session["Name"].ToString())</h1>
    }
    <p></p>
</div>

