@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron" style="text-align:center;">
    @if (Session.SessionID == null)
    {
        <h1>Welcome To Onshore 'Name' @*@Session["Name"].ToString()*@</h1>
    }
    else
    {
        <h1>Welcome To Onshore @*@Session["Name"].ToString()*@</h1>
    }
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our Blog</h2>
        <p>Read up on our latest posts about the I.T.  world, and many helpful hints and tips to a few of the more general disscussion topics.</p>
        <p><a href="http://blog.onshoreoutsourcing.com/" class="btn btn-primary btn-lg">GO&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Client Services</h2>
        <p>Visit the client services site to find out more on upcomming events on our calender for each office.</p>
        <p><a href="https://onshoreoutsourcing.sharepoint.com/clientservices/SitePages/Home.aspx" class="btn btn-primary btn-lg">GO&raquo;</a></p>
    </div>
</div>