@using Lib.ViewModels
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<title>

</title>
<head>

</head>
<body>
    <div>
        Use Java to populate divs?

        Graphs for each element(?)
        <div>
            ViewStory/SelectStory
        </div>
        <div>
            ViewKPI/SelectKPI
        </div>
        <div>
            ViewClient/SelectClient
        </div>
        <div>
            ViewTeam
        </div>
        <div>
            ViewAssignments/SelectAssignemt
        </div>
        <div>
            ViewEmlplyee/SelectEmployee
        </div>
        <div>
            ViewProjects/SelectProjects
        </div>
    </div>
</body>